$fonthead: 'Rubik', sans-serif;
$fontstack: 'Rubik', sans-serif;
$colordark: #1B1B1B;
$coloryellow: #E0015B;
$colorpink: #E0015B;
$colorblue: #E0015B;
$colordefault: #373737;

@mixin transition($second) {
  -webkit-transition: all $second ease-in-out;
    -moz-transition: all $second ease-in-out;
        transition: all $second ease-in-out;
}